body {
    padding: 0;margin: 0;box-sizing: border-box; font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: black;
}
form {
    padding: 100px 0px ;
}
input {
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    border: 1px solid white;
}
button {
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
select {
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    border: 1px solid white;
}