.navbar {
    width: 100%;
    height: 70px;
    background: red;
    /* line-height: 70px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;
    /* border: 1px solid black; */
}
.logo {
    font-size: 2rem;
    margin: 0;
    font-weight: bolder;
    line-height: 60px;
}
.nav-options {
    text-transform: uppercase;
    border: 5px solid transparent;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-options > a{
    color: black;
    font-weight: bolder;
}
.nav-options:hover {
    border-bottom: 5px solid black;
}
.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
@media (max-width:970px) {
    .navbar {
        flex-direction: column;
        gap: 30px;
    }
    .nav-list {
        flex-direction: column;
        gap: 30px;
    }
    .nav-options {
        border: none;
    }
    .nav-options:hover {
        border: none;
    }
}