.section-2 {
    width: 100%;
    height: auto;
    background: green;
}
.s-2-content {
    width: 70%;
    text-align: center;
    margin: auto;
}
.s-2-content > h1 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}
.s-2-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.s-2-cards {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.s-2-cards > h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bolder;
}
.s-2-card-circle {
    width: 80%;
    height: 55%;
    border-radius: 50%;
    background: white;
}
.s-2-card-circle > i {
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 45px;
}