.section-3 {
    width: 100%;
    background: red;
}
.s-3-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}
.section-3 > h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.s-3-container > img {
    width: 400px;
    height: 400px;
}
.s-3-content {
    width: 500px;
    padding: 20px;
}